<ul>
{% for name, node in tree %}
    <li>
        <a href="{{ path('wiki_index', { tree_path: name }) }}">{{ name }} ({{ node.count }})</a>
        {% if node.children is not empty %}
            {{ _self.render_tree(node.children) }}
        {% endif %}
    </li>
{% endfor %}
</ul>

{% macro render_tree(nodes) %}
<ul>
{% for name, node in nodes %}
    <li>
        <a href="{{ path('wiki_index', { tree_path: name }) }}">{{ name }} ({{ node.count }})</a>
        {% if node.children is not empty %}
            {{ _self.render_tree(node.children) }}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endmacro %}
